<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/planos.css">
    <title>Pagina de Planos</title>
</head>
<body>
    <header>
        <div class="cabecalho">
                <div class="titulo">
                    <h1> Orion IA</h1>
                </div>
                
                <nav class="nav-links">
                    <a href="##">Sobre nós</a>
                    <a href="##">Assinaturas</a>
                    <a href="##">Blog</a>
                </nav>
            
            </div>
            


        <div class="container-principal">
            <h1>titulo</h1>
            <div class="planos">
                

                <div class="bronze">

                    <h3>Plano Bronze</h3>
                    <p>texto</p>

                    <input type="submit" value="Contratar">
                </div>

                <div class="prata">
                    <h3>Plano Prata</h3>
                    <p>texto</p>

                    <input type="submit" value="Contratar">
                </div>

                <div class="ouro">
                    <h3>Plano Ouro</h3>
                    <p>texto    </p>

                    
                    <input type="submit" value="Contratar">
                </div>

            </div>
        </div>
        
    
</body>
</html>