body {
    margin: 0; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#062756, #0c70d3);
}


.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    color: #0c70d3;
    padding: 60px;
    margin: 13% 35% 0 35%;
}
.container-principal input{
    padding: 10px 50px 10px 50px;
    margin: 20px;
}

.contratar a {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: "Poppins", sans-serif;
}

.contratar input:hover{
    background-color: #AAD4FF;
    transition: 0.5s all;
     color: #000;
}
.contratar a:hover{
    transition: 0.5s all;
    color: #dcbaba;
}

#botao{
    border: 2px solid #062756;
    padding: 10px;
    border-radius: 15px;
}


.cabecalho{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-image: linear-gradient(to right, #011C42, #084787);
    justify-content: space-between;
    height: 9vh;

}
.titulo{
    margin-left: 15px;
    color: #e0cccc;
    font-family: "Poppins", serif ;
}

.Logo{
    display: flex;
    align-items: flex-start;
    gap: 300px; /* espaço entre imagem e texto */
    margin-bottom: 30px;
}


.Logo img {
    display: flex;
    height: auto;
    margin-top: 110px;
    margin-left: 30px;
}

.Logo h1 {
    display: flex;
    margin-top: 130px;
    color: #e0cccc;
    font-size: 3.0rem;
    font-family: "Poppins", serif ;
    
}

.menu li a:hover{
    background-color: #AAD4FF;
    transition: 0.5s all;
    color: black;
}
/*background-color: rgb(19, 117, 237);
/*#dcbaba*/
.nav-links {
  display: flex;
  gap: 55px;
  margin-right: 20px;
 
}

.nav-links a {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #0c70d3;
  transition: width 0.3s ease;
}
.nav-links a:hover {
  color: #0c70d3;
}

.nav-links a:hover::after {
  width: 100%;
}